{% extends 'base.html.twig' %}

{% block title %}Главная!{% endblock %}

{% block body %}
    <h1 style="text-align: center; font-size: 70px">Добро пожаловать!</h1>
    <a href="{{ path('oas') }}" class="btn">В API docs</a>
{% endblock %}
